@font-face {
    font-family: 'work sans';
    src: url('./fonts/WorkSans-VariableFont_wght.ttf');
}
* {
    font-family: 'work sans';
    scroll-behavior: smooth;
}

/* heder section */
.header {
    display: flex;
    justify-content: space-around;
    background-color: black;
    width: 100%;
    height: 60px;
    border-radius: 10px;
}
.header-left h2{
    width: 133px;
    padding: 10px;
    color: deeppink;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 8px;
    text-align: center;
    background-color: aqua;
}
.header-left:hover {
    background-color: lightsalmon;
    color: black;
}
.header-left span {
    color: black;
}
.header-mavigation {
    word-spacing: 36px;
    margin-top: -12px;
    font-size: 20px;
}
.navigation li {
    list-style: none;
    display: inline-block;
    padding: 12px;
    border-radius: 5px;
    font-size: 17px;
    width: 110px;
    text-align: center;
    background-color: aqua;
}
.navigation li:hover {
    background-color: lightsalmon;
}
.navigation li a {
    color: black;
}
.navigation li a:hover {
    color: white;
}
.header-mavigation a {
    text-decoration: none;
    color: white;
}
.header-right h4{
    width: 110px;
    padding: 13px;
    color: black;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 8px;
    text-align: center;
    background-color: aqua;
}
.header-right:hover {
    background-color: lightsalmon;
    color: black;
}

/* about section */
.about-contain {
    display: flex;
    margin-top: 100px;
    background-color: honeydew;
}
.about {
    margin-left: 137px;
    margin-top: 80px;
}
.about-title span {
    color: deeppink;
}
.about-description {
    width: 422px;
    color: #444343;
}
.about-btn {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}
.about-btn:hover {
    background-color: teal;
    color: black;
}
.about-img {
    width: 358px;
    height: 366px;
    border-radius: 6px;
    margin-left: 160px;
    background-size: cover;
}

/* my skil */
.skill-container {
    margin-left: 170px;
    margin-top: 140px;
    display: flex;
}
.skill-left {
    display: flex;
    gap: 10px;
}
.skill-card {
    border: 2px solid;
    width: 216px;
    height: 85px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}
.skill-card:hover {
    border-color: tomato;
    border: 3px solid;
}
.cart-title {
    font-size: 25px;
    margin-top: 13px;
    margin-bottom: -10px;
    color: green;
}
.skill-right {
    margin-left: 100px;
}
.skill-title h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 40px;
}
.skill-card p {
    color: #444343;
}
.skill-column {
    background-color: whitesmoke;
    width: 490px;
}
.skill-description1{
    width: 360px;
    padding: 5px;
    color: white;
    background-color: black;
    font-size: 13px;
    border-radius: 3px;
}
.skill-description2 {
    width: 110px;
    padding: 5px;
    color: white;
    background-color: black;
    font-size: 13px;
    border-radius: 3px;
}
.skill-description3 {
    width: 205px;
    padding: 5px;
    color: white;
    background-color: black;
    font-size: 13px;
    border-radius: 3px;
}
.skill-description4 {
    width: 138px;
    padding: 5px;
    color: white;
    background-color: black;
    font-size: 13px;
    border-radius: 3px;
}
.skill-1 {
    margin-left: 270px;
}
.skill-2{
    margin-left: 10px;
}
.skill-3 {
    margin-left: 140px;
}
.skill-4 {
    margin-left: 40px;
}

/* my service */
.service-contain {
    display: flex;
    justify-content: center;
    gap: 35px;
}
.service-title h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.service-content {
    width: 350px;
    border-radius: 10px;
    height: 335px;
    text-align: center;
    background-color: bisque;
    border-top-right-radius: 80px;
}
.service-content:hover {
    border: 3px solid;
    border-color: black;
}
.service-img {
    width: 94px;
    margin-bottom: -7px;
    margin-top: 53px;
}
.service-icon {
    width: 50px;
    margin-left: 20px;
    margin-top: 60px;
}
.service-sup-title {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: -7px;
    margin-left: 20px;
    color: teal;
}
.service-award {
    margin-bottom: -5px;
    margin-top: 9px;
    margin-left: 20px;
    color: black;
    font-family: 'work sans';
}
.service-description {
    width: 323px;
    margin-left: 20px;
    color: #444343;
}
.service-btn {
    width: 127px;
    border-radius: 5px;
    height: 38px;
    margin-left: 20px;
    cursor: pointer;
    background-color: teal;
    color: white;
    border: none;
}
.service-btn:hover {
    background-color: black;
    color: white;
}

/* My fortfolio */
.fortfolio-content {
    text-align: center;
    margin-left: 27px;
    margin-top: 70px;
}
.portfolio-title h2 {
    font-size: 40px;
    text-align: center;
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: -18px;
}
.fortfolio-img {
    width: 400px;
}
.fortfolio-img:hover {
    border: 3px solid;
    border-color: black;
}

/* contact section */
.contact {
    display: flex;
    margin-left: 365px;
    margin-top: 65px;
}
.contact-title h2{
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: -30px;
}
.contact-left {
    display: inline-block;
}
.contact-left ul li {
    list-style: none;
    line-height: 40px;
}
.contact-left ul {
    margin-left: -35px;
}
.contact-right label {
    display: block;
    line-height: 38px;
}
form input {
    width: 315px;
    padding: 9px;
    border-radius: 22px;
}
.contact-right {
    margin-left: 100px;
}
.contact-right form form {
    display: inline-block;
}
.contact-input {
    width: 330px;
    height: 34px;
    border-radius: 18px;
    margin-bottom: 20px;
}
.contact-location {
    width: 400px;
    border-radius: 8px;
    cursor: pointer;
}
.contact-location:hover {
   border: 2px solid black;
}
.social-icon {
    width: 50px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.contact-icon {
    margin-top: 16px;
}
.contact-right form textarea {
    width: 327px;
    height: 65px;
    margin-bottom: 10px;
}
.contact-label:hover {
    background-color: lightseagreen;
    color: black;
}
.contact-checkbox {
    margin-top: 10px;
}
.contact-label {
    background-color: black;
    color: white;
    padding: 14px;
    border-radius: 10px;
    margin-top: -9px;
    cursor: pointer;
    font-size: 14px;
}
.contact-right form form input {
    cursor: pointer;
}
#your-message {
    width: 127px;
    border-radius: 5px;
    height: 38px;
    cursor: pointer;
    background-color: teal;
    color: white;
    font-size: 14px;
    border: none;
    text-align: center;
}
.checkbox {
    width: 20px;
    margin-left: 137px;
    margin-top: -23px;
    float: inline-start;
}
/* footer section */
.footer-container {
    width: 100%;
    padding: 25px;
    margin-top: 48px;
    border-radius: 5px;
    background-color: black;
    padding-top: 110px;
}
.footer-content {
    display: flex;
    justify-content: center;
    gap: 110px;
}
.footer-left p {
    width: 306px;
    color: white;
}
.footer-cart a {
    margin-bottom: 30px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    display: block;
}
.text-bold-normal {
    color: whitesmoke;
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 100;
}
.footer-email {
    padding: 12px;
    border-radius: 18px;
    width: 200px;
}
.footer-left {
    margin-top: 90px;
}
.footer-right {
    margin-top: -22px;
}
.footer-icon {
    margin-top: 5px;
    margin-bottom: 30px;
    margin-right: 15px;
    cursor: pointer;
}
.footer-btn {
    padding: 12px;
    border-radius: 20px;
    width: 118px;
    background-color: aqua;
    cursor: pointer;
}
.footer-margin {
    width: 88%;
    border: 1px solid white;
    margin-left: 67px;
}
.footer-bottom {
    color: white;
    text-align: center;
    margin-top: 40px;
}





