@font-face {
    font-family: 'work sans';
    src: url('./fonts/WorkSans-VariableFont_wght.ttf');
}

* {
    font-family: 'work sans';
}

/* heder section */
.header {
    display: flex;
    justify-content: space-around;
}

.header-title span {
    color: green;
}

.header-mavigation {
    word-spacing: 30px;
    margin-top: 25px;
    font-size: 20px;
}

.header-mavigation a {
    text-decoration: none;
}

.moto-title {
    background-color: green;
    padding: 11px;
    border-radius: 5px;
    color: white;
}

/* about section */
.about-contain {
    display: flex;
    margin-top: 60px;
}

.about {
    margin-left: 137px;
    margin-top: 80px;
}
.about-description {
    width: 422px;
}
.about-btn {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
}
.about-img {
    width: 310px;
    height: 330px;
    border-radius: 6px;
    margin-left: 150px;
}
/* my skil */
.skil-container {
    margin-left: 135px;
    margin-top: 50px;
    display: flex;
}
.skil-left {
    display: flex;
    gap: 10px;
}
.skil-card {
    border: 2px solid;
    width: 216px;
    height: 85px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}
.cart-title {
    font-size: 25px;
    margin-top: 13px;
    margin-bottom: -10px;
    color: green;
}
.skil-right {
    margin-left: 100px;
}
.skil-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 40px;
}

.cart-description {
    color: #444343;
}
.skil-column-1 {
    background-color: bisque;
    width: 480px;
}
.skil-column-2 {
    background-color: bisque;
    width: 480px;
}
.skil-column-3{
    background-color: bisque;
    width: 480px;
}
.skil-column-4 {
    background-color: bisque;
    width: 480px;
}
.skil-description1{
    width: 347px;
    color: white;
    background-color: black;
    font-size: 14px;
    border-radius: 3px;
    height: 25px
}
.skil-description2 {
    width: 120px;
    color: white;
    background-color: black;
    font-size: 14px;
    border-radius: 3px;
    height: 25px;
}
.skil-description3 {
    width: 205px;
    color: white;
    background-color: black;
    font-size: 14px;
    border-radius: 3px;
    height: 25px;
}
.skil-description4 {
    width: 120px;
    color: white;
    background-color: black;
    font-size: 14px;
    border-radius: 3px;
    height: 25px;
}
.skil-1 {
    margin-left: 245px;
}
.skil-2{
    margin-left: 10px;
}
.skil-3 {
    margin-left: 130px;
}
.skil-4 {
    margin-left: 23px;
}